// vendors
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.tareas {
  p {
    text-transform: capitalize;
  }
}

.complete {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}